<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>four ninety-two</title>
    <link rel="stylesheet" href="styles/w3.css">
    <link rel="stylesheet" href="styles/custom.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div id="displayContainer" class="w3-display-container">
        <div class="w3-display-topmiddle">
            <canvas id='canvas'></canvas>
        </div>
        <div id="game-app" class="w3-margin w3-container">
            <div id="leftColumn" class="w3-display-topleft w3-black w3-margin-right" style="width:305px">
                <div class="w3-container w3-center">
                    <br>
                    <h3><b>-=- {{ user.name }} -=-</b></h3>
                    <h4 v-if="player.status != 'alive'"><br>You have lost.</h4>
                    <table style="width:100%" v-if="player.status == 'alive'">
                        <tr>
                            <td class="align-left"><h4><b>Balance: </b></h4></td>
                            <td class="align-right"><h4 id="playerCurrency">{{ player.balance }}</h4></td>
                        </tr>
                        <tr>
                            <td class="align-left"><h5 class="w3-opacity">Fees: </h5></td>
                            <td class="align-right"><h5>-</h5><h5>{{ player.unitFees }}</h5></td>
                        </tr>
                    </table>
                </div>
                <hr>
                <hr>
                <div class="w3-container w3-center" v-if="player.status == 'alive'">
                    <h3>Industrial Control</h3>
                    <div class="w3-panel w3-green">
                        <table style="width:100%">
                            <tr>
                                <td class="align-left"><h4><b>Agriculture: </b></h4></td>
                                <td class="align-right"><h4 id="playerAgricultureValue">{{ player.resources.agriculture }}</h4></td>
                            </tr>
                            <tr>
                                <td class="align-left"><h5 class="w3-opacity">Incoming: </h5></td>
                                <td class="align-right"><h5>+</h5><h5 id="playerAgricultureIncome">{{ player.incomingResources.agriculture }}</h5></td>
                            </tr>
                        </table>
                    </div>
                    <div class="w3-panel w3-brown">
                        <table style="width:100%">
                            <tr>
                                <td class="align-left"><h4><b>Mining: </b></h4></td>
                                <td class="align-right"><h4 id="playerMiningValue">{{ player.resources.mining }}</h4></td>
                            </tr>
                            <tr>
                                <td class="align-left"><h5 class="w3-opacity">Incoming: </h5></td>
                                <td class="align-right"><h5>+</h5><h5 id="playerMiningIncome">{{ player.incomingResources.mining }}</h5></td>
                            </tr>
                        </table>
                    </div>
                    <div class="w3-panel w3-pink">
                        <table style="width:100%">
                            <tr>
                                <td class="align-left"><h4><b>Synthetics: </b></h4></td>
                                <td class="align-right"><h4 id="playerSyntheticsValue">{{ player.resources.synthetics }}</h4></td>
                            </tr>
                            <tr>
                                <td class="align-left"><h5 class="w3-opacity">Incoming: </h5></td>
                                <td class="align-right"><h5>+</h5><h5 id="playerSyntheticsIncome">{{ player.incomingResources.synthetics }}</h5></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <hr>
                <hr>
                <div class="w3-container w3-center">
                    <h3 class="w3-center">Global Exchange</h3>
                    <div class="custom-accordian w3-round w3-show" id="agricultureAccordian" @mouseover="openAccordian('a')" @mouseleave="closeAccordian('a')">
                        <div class="w3-round custom-light-green layer-grid">
                            <div id="globalExchangeAgricultureProgress" class="w3-container w3-round w3-green w3-center custom-spacing custom-progress-bar layer1" v-bind:style="{width:(game.market.prices.agriculture * 2).toString() + '%'}"></div>
                            <h3 id="globalExchangeAgricultureValue" class="w3-opacity layer2 vertical-center">{{ game.market.prices.agriculture }}</h3>
                            <div id="a" class="w3-hide w3-animate-zoom">
                                <div class="w3-row">
                                    <input v-if="game.state=='sell' || game.state=='buy'" id="agricultureInput" class="w3-third custom-input" type="text" placeholder="Amount" v-model="agricultureMarketRequest">
                                    <div v-if="game.state=='sell'" @click="submitMarketOrder('sell','agriculture');" class="w3-twothird w3-button">Sell for {{agricultureMarketRequest * game.market.prices.agriculture}}</div>
                                    <div v-if="game.state=='buy'" @click="submitMarketOrder('buy','agriculture');" class="w3-twothird w3-button">Buy for {{agricultureMarketRequest * game.market.prices.agriculture}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom-accordian w3-round" id="miningAccordian" @mouseover="openAccordian('m')" @mouseleave="closeAccordian('m')">
                        <div class="w3-round custom-light-brown layer-grid">
                            <div id="globalExchangeMiningProgress" class="w3-container w3-round w3-brown w3-center custom-spacing custom-progress-bar layer1" v-bind:style="{width:(game.market.prices.mining * 2).toString() + '%'}"></div>
                            <h3 id="globalExchangeMiningValue" class="w3-opacity layer2 vertical-center">{{ game.market.prices.mining }}</h3>
                            <div id="m" class="w3-hide w3-animate-zoom">
                                <div class="w3-row">
                                    <input v-if="game.state=='sell' || game.state=='buy'" id="miningInput" class="w3-third custom-input" type="text" placeholder="Amount" v-model="miningMarketRequest">
                                    <div v-if="game.state=='sell'" @click="submitMarketOrder('sell','mining');" class="w3-twothird w3-button">Sell for {{miningMarketRequest * game.market.prices.mining}}</div>
                                    <div v-if="game.state=='buy'" @click="submitMarketOrder('buy','mining');" class="w3-twothird w3-button">Buy for {{miningMarketRequest * game.market.prices.mining}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom-accordian w3-round" id="syntheticsAccordian" @mouseover="openAccordian('s')" @mouseleave="closeAccordian('s')">
                        <div class="w3-round custom-light-pink layer-grid">
                            <div id="globalExchangeSyntheticsProgress" class="w3-container w3-round w3-pink w3-center custom-spacing custom-progress-bar layer1" v-bind:style="{width:(game.market.prices.synthetics * 2).toString() + '%'}"></div>
                            <h3 id="globalExchangeSyntheticsValue" class="w3-opacity layer2 vertical-center">{{ game.market.prices.synthetics }}</h3>
                            <div id="s" class="w3-hide w3-animate-zoom">
                                <div class="w3-row">
                                    <input v-if="game.state=='sell' || game.state=='buy'" id="syntheticsInput" class="w3-third custom-input" type="text" placeholder="Amount" v-model="syntheticsMarketRequest">
                                    <div v-if="game.state=='sell'" @click="submitMarketOrder('sell','synthetics');" class="w3-twothird w3-button">Sell for {{syntheticsMarketRequest * game.market.prices.synthetics}}</div>
                                    <div v-if="game.state=='buy'" @click="submitMarketOrder('buy','synthetics');" class="w3-twothird w3-button">Buy for {{syntheticsMarketRequest * game.market.prices.synthetics}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="rightColumn" class="w3-display-topright w3-black w3-margin-left" style="width:220px">
                <div class="w3-container w3-center">
                    <br>
                    <h3>Round </h3>
                    <h3 id="roundCount">{{ game.turn }}</h3>
                </div>
                <hr>
                <hr>
                <hr>
                <div class="w3-container w3-center">
                    <h3>Subrounds</h3>
                    <div id="subroundPanel1" v-if="player.status == 'alive'" v-bind:class="{ 'w3-show': game.state == 'focus' , 'w3-hide': game.state != 'focus'}">
                        <h5>Determine your<br>focuses and submit.</h5>
                        <div class="w3-panel w3-gray">
                            <h4 class="subround-text">Sell</h4>
                            <br>
                            <input type="range" id="sellFocus" min="0" max="10" step="1" value="0" onchange="updateFocusRangeValues(this.value, 's');">
                            <br>
                            <h5 class="subround-text">Focus:</h5><h5 class="subround-text" id="sellFocusRangeValue">0</h5>
                        </div>
                        <div class="w3-panel w3-gray">
                            <h4 class="subround-text">Act</h4>
                            <br>
                            <input type="range" id="actFocus" min="0" max="10" step="1" value="0" onchange="updateFocusRangeValues(this.value, 'a');">
                            <br>
                            <h5 class="subround-text">Focus:</h5><h5 class="subround-text" id="actFocusRangeValue">0</h5>
                        </div>
                        <div class="w3-panel w3-gray">
                            <h4 class="subround-text">Buy</h4>
                            <br>
                            <input type="range" id="buyFocus" min="0" max="10" step="1" value="0" onchange="updateFocusRangeValues(this.value, 'b');">
                            <br>
                            <h5 class="subround-text">Focus:</h5><h5 class="subround-text" id="buyFocusRangeValue">0</h5>
                        </div>
                        <div @click="submitFocuses();" class="custom-button w3-panel w3-gray w3-round" v-bind:class="{ 'w3-show':player.focus.sell + player.focus.act + player.focus.buy != 10, 'w3-hide':player.focus.sell + player.focus.act + player.focus.buy == 10}">
                            <h4 class="subround-text">Submit</h4>
                        </div>
                        <div v-if="player.focus.sell + player.focus.act + player.focus.buy == 10">
                            <h5>
                                Waiting for the following player(s):
                            </h5>
                            <br>
                            <h5 style="display:block" v-for="player in game.players.filter(player=>player.focus.sell + player.focus.act + player.focus.buy != 10)">{{player.name}}</h5>
                        </div>
                        <br>
                    </div>
                    <div id="subroundPanel2" v-bind:class="{ 'w3-show': game.state != 'focus' , 'w3-hide': game.state == 'focus'}">
                        <div class="w3-panel w3-gray" id="sellSubroundSection"  v-bind:class="{ 'w3-opacity-max': game.state != 'sell' , 'w3-grayscale': game.state == 'sell'}">
                            <h4 class="subround-text">sell</h4>
                            <table style="width:100%">
                                <tr v-for="player in game.players.filter(player=>player.status == 'alive').sort((a,b) => {return a.focus.sell < b.focus.sell?1:-1;})">
                                    <td class="align-left">
                                        <h5 v-bind:class="{ 'custom-red-loud':player._id == game.playerOrder[0] && game.state == 'sell'}" class="subround-text">{{player.name}}</h5>
                                    </td>
                                    <td>
                                        <h4>|</h4>
                                    </td>
                                    <td class="align-left">
                                        <h5 v-bind:class="{ 'custom-red-loud':player._id == game.playerOrder[0] && game.state == 'sell'}" class="subround-text">{{player.focus.sell}}</h5>
                                        <br>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="w3-panel w3-gray" id="actSubroundSection" v-bind:class="{ 'w3-opacity-max': !game.state.includes('act') , 'w3-grayscale': game.state.includes('act')}">
                            <h4 class="subround-text">act {{ game.state.includes("act")? "- " + game.state.substring(4): ""}}</h4>
                            <table style="width:100%">
                                <tr v-for="player in game.players.filter(player=>player.status == 'alive').sort((a,b) => {return a.focus.act < b.focus.act?1:-1;})">
                                    <td class="align-left">
                                        <h5 v-bind:class="{ 'custom-red-loud':player._id == game.playerOrder[0] && game.state.includes('act')}" class="subround-text">{{player.name}}</h5>
                                    </td>
                                    <td>
                                        <h4>|</h4>
                                    </td>
                                    <td class="align-left">
                                        <h5 v-bind:class="{ 'custom-red-loud':player._id == game.playerOrder[0] && game.state.includes('act')}" class="subround-text">{{player.focus.act}}</h5>
                                        <br>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="w3-panel w3-gray" id="buySubroundSection" v-bind:class="{ 'w3-opacity-max': game.state != 'buy' , 'w3-grayscale': game.state == 'buy'}">
                            <h4 class="subround-text">buy</h4>
                            <table style="width:100%">
                                <tr v-for="player in game.players.filter(player=>player.status == 'alive').sort((a,b) => {return a.focus.buy < b.focus.buy?1:-1;})">
                                    <td class="align-left">
                                        <h5 v-bind:class="{ 'custom-red-loud':player._id == game.playerOrder[0] && game.state == 'buy'}" class="subround-text">{{player.name}}</h5>
                                    </td>
                                    <td>
                                        <h4>|</h4>
                                    </td>
                                    <td class="align-left">
                                        <h5 v-bind:class="{ 'custom-red-loud':player._id == game.playerOrder[0] && game.state == 'buy'}" class="subround-text">{{player.focus.buy}}</h5>
                                        <br>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <br>
                        <div @click="endTurn();" v-if="player.status == 'alive' && player._id == game.playerOrder[0]" class="custom-button w3-panel w3-gray w3-round">
                            <h4 class="subround-text">End Turn</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w3-display-bottommiddle w3-black" style="width:1200px">
                <div v-if="selectedRegion != null" class="w3-container w3-black" style="height:170px">
                    <table style="width:100%">
                        <tr>
                            <td style="width:60%" v-if="showActions" class="align-left">
                                <h4>{{"-=- " + selectedRegion.name}}</h4><h4 v-if="selectedRegion.player != null">{{" - " + game.players.filter(player => player._id == selectedRegion.player)[0].name}}</h4><h4>{{" -=-"}}</h4>
                                <h5><br>{{"Land: " + selectedRegion.units.land + " | Naval: " + selectedRegion.units.naval + " | Amphibious: " + selectedRegion.units.amphibious}}</h5>
                                <h5><br>{{"Level of Investment: " + selectedRegion.industrialization.investment}}</h5>
                                <h5 v-if="selectedRegion.player == player._id"><br>{{"Agriculture: " + selectedRegion.industrialization.agriculture + " | Mining: " + selectedRegion.industrialization.mining + " | Synthetics: " + selectedRegion.industrialization.synthetics}}</h5>
                                <h5 v-if="selectedRegion.player == player._id"><br>{{"Atom Bombs: " + selectedRegion.units.atomBombs + " | Bioweapons: " + selectedRegion.units.bioweapons + " | Radars: " + selectedRegion.units.radars}}</h5>
                            </td>
                            <td style="width:40%" v-if="((selectedRegion.player == player._id) || (adjacentRegionIsOwnedByPlayer)) && (showActions) && (game.state.includes('act'))" class="align-right">
                                <table class="w3-center" style="width:100%">
                                    <tr>
                                        <td class="w3-panel w3-gray w3-round w3-third w3-right w3-margin-left" v-bind:class="{ 'w3-opacity-max': game.state != 'act.move' , 'w3-grayscale custom-button': game.state == 'act.move'}" v-on:click="actionClick('move');"><h4>Move</h4></td>
                                        <td class="w3-panel w3-gray w3-round w3-third w3-right w3-margin-right" v-bind:class="{ 'w3-opacity-max': game.state != 'act.attack' , 'w3-grayscale custom-button': game.state == 'act.attack'}" v-on:click="actionClick('attack');"><h4>Attack</h4></td>
                                    </tr>
                                    <tr>
                                        <td class="w3-panel w3-gray w3-round w3-third w3-right w3-margin-left" v-bind:class="{ 'w3-opacity-max': ((game.state != 'act.build') || (selectedRegion.type != 'land')) , 'w3-grayscale custom-button': ((game.state == 'act.build') && (selectedRegion.type == 'land'))}" v-on:click="actionClick('develop');"><h4>Develop</h4></td>
                                        <td class="w3-panel w3-gray w3-round w3-third w3-right w3-margin-right" v-bind:class="{ 'w3-opacity-max': game.state != 'act.build' , 'w3-grayscale custom-button': game.state == 'act.build'}" v-on:click="actionClick('recruit');"><h4>Recruit</h4></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <div v-if="(selectedRegion.player == player._id) && (!showActions) && (game.state == 'act.attack')">
                        <div class="w3-row w3-left" style="width:15%">
                            <div class="w3-col">
                                <div class="w3-panel w3-gray w3-round w3-grayscale custom-button" v-on:click="showActions = true; targetRegion = null;">
                                    <h4>Back</h4>
                                </div>
                                <div class="w3-panel w3-gray w3-round w3-grayscale custom-button" v-on:click="attack();" v-if="targetRegion != 'waiting'">
                                    <h4>Enact</h4>
                                </div>
                            </div>
                        </div>
                        <div style="width:85%" v-if="targetRegion == 'waiting'" class="w3-panel w3-rest w3-right">
                            <h4>Select an adjacent region to attack.</h4>
                        </div>
                        <div style="width:85%" v-if="targetRegion != 'waiting'" class="w3-panel w3-rest w3-right">
                            <h4>Select attacking units:</h4>
                            <br>
                            <div class="w3-row">
                                <div class="w3-col w3-left w3-half">
                                    <div v-if="targetRegion.type=='land'" class="w3-row">
                                        <h5 class="w3-left w3-half w3-col">{{selectedRegion.units.land}} Land </h5>
                                        <input class="custom-input w3-right w3-half w3-col" type="text" placeholder="0" v-model="landAttackCount">
                                    </div>
                                    <div v-if="targetRegion.type!='land'" class="w3-row">
                                        <h5 class="w3-left w3-half w3-col">{{selectedRegion.units.naval}} Naval </h5>
                                        <input class="custom-input w3-right w3-half w3-col" type="text" placeholder="0" v-model="navalAttackCount">
                                    </div>
                                    <div class="w3-row">
                                        <h5 class="w3-left w3-half w3-col">{{selectedRegion.units.amphibious}} Amphibious </h5>
                                        <input class="custom-input w3-right w3-half w3-col" type="text" placeholder="0" v-model="amphibiousAttackCount">
                                    </div>
                                </div>
                                <div class="w3-col w3-right w3-half">
                                    <div class="w3-row">
                                        <h5 class="w3-left w3-half w3-col">{{selectedRegion.units.atomBombs}} Atom Bombs </h5>
                                        <input class="custom-input w3-right w3-half w3-col" type="text" placeholder="0" v-model="atomBombsAttackCount">
                                    </div>
                                    <div class="w3-row">
                                        <h5 class="w3-left w3-half w3-col">{{selectedRegion.units.bioweapons}} Bioweapons </h5>
                                        <input class="custom-input w3-right w3-half w3-col" type="text" placeholder="0" v-model="bioweaponsAttackCount">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="(selectedRegion.player == player._id) && (!showActions) && (game.state == 'act.move')">
                        <div class="w3-row w3-left" style="width:15%">
                            <div class="w3-col">
                                <div class="w3-panel w3-gray w3-round w3-grayscale custom-button" v-on:click="showActions = true; targetRegion = null;">
                                    <h4>Back</h4>
                                </div>
                                <div class="w3-panel w3-gray w3-round w3-grayscale custom-button" v-on:click="move();" v-if="targetRegion != 'waiting'">
                                    <h4>Enact</h4>
                                </div>
                            </div>
                        </div>
                        <div style="width:85%" v-if="targetRegion == 'waiting'" class="w3-panel w3-rest w3-right">
                            <h4>Select an adjacent region to move to.</h4>
                        </div>
                        <div style="width:85%" v-if="targetRegion != 'waiting'" class="w3-panel w3-rest w3-right">
                            <h4>Select moving units:</h4>
                            <br>
                            <div class="w3-row">
                                <div class="w3-col w3-left w3-half">
                                    <div v-if="targetRegion.type=='land'" class="w3-row">
                                        <h5 class="w3-left w3-half w3-col">{{selectedRegion.units.land}} Land </h5>
                                        <input class="custom-input w3-right w3-half w3-col" type="text" placeholder="0" v-model="landMoveCount">
                                    </div>
                                    <div v-if="targetRegion.type!='land'" class="w3-row">
                                        <h5 class="w3-left w3-half w3-col">{{selectedRegion.units.naval}} Naval </h5>
                                        <input class="custom-input w3-right w3-half w3-col" type="text" placeholder="0" v-model="navalMoveCount">
                                    </div>
                                    <div class="w3-row">
                                        <h5 class="w3-left w3-half w3-col">{{selectedRegion.units.amphibious}} Amphibious </h5>
                                        <input class="custom-input w3-right w3-half w3-col" type="text" placeholder="0" v-model="amphibiousMoveCount">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="((selectedRegion.player == player._id) || (selectedRegion.player == null)) && (!showActions) && (game.state == 'act.build') && buildType == 'recruit'">
                        <div class="w3-row w3-left" style="width:15%">
                            <div class="w3-col" style="width:85%">
                                <div class="w3-panel w3-gray w3-round w3-grayscale custom-button" v-on:click="showActions = true;">
                                    <h4>Back</h4>
                                </div>
                                <div class="w3-panel w3-gray w3-round w3-grayscale custom-button" v-on:click="build();">
                                    <h4>Enact</h4>
                                </div>
                            </div>
                        </div>
                        <div style="width:85%" class="w3-panel w3-rest w3-right">
                            <h4>Select units to recruit:</h4>
                            <br>
                            <div class="w3-row">
                                <div class="w3-col w3-left w3-third">
                                    <div v-if="selectedRegion.type=='land'" class="w3-row">
                                        <h5 class="w3-left w3-half w3-col">Land </h5>
                                        <input class="custom-input w3-right w3-half w3-col" type="text" placeholder="0" v-model="landBuildCount">
                                    </div>
                                    <div v-if="selectedRegion.type!='land'" class="w3-row">
                                        <h5 class="w3-left w3-half w3-col">Naval </h5>
                                        <input class="custom-input w3-right w3-half w3-col" type="text" placeholder="0" v-model="navalBuildCount">
                                    </div>
                                    <div class="w3-row">
                                        <h5 class="w3-left w3-half w3-col">Amphibious </h5>
                                        <input class="custom-input w3-right w3-half w3-col" type="text" placeholder="0" v-model="amphibiousBuildCount">
                                    </div>
                                </div>
                                <div class="w3-col w3-center w3-third">
                                    <div v-if="selectedRegion.type=='land'" class="w3-row">
                                        <h5 class="w3-left w3-half w3-col">Atom Bombs </h5>
                                        <div v-if="player.research.atomBombs == false" class="w3-panel w3-gray w3-round w3-grayscale custom-button w3-right w3-half w3-col" v-on:click="research('atomBombs');">
                                            <h4>Research</h4>
                                        </div>
                                        <input v-if="player.research.atomBombs == true" class="custom-input w3-right w3-half w3-col" type="text" placeholder="0" v-model="atomBombsBuildCount">
                                    </div>
                                    <div v-if="selectedRegion.type=='land'" class="w3-row">
                                        <h5 class="w3-left w3-half w3-col">Bioweapons </h5>
                                        <div v-if="player.research.bioweapons == false" class="w3-panel w3-gray w3-round w3-grayscale custom-button w3-right w3-half w3-col" v-on:click="research('bioweapons');">
                                            <h4>Research</h4>
                                        </div>
                                        <input v-if="player.research.bioweapons == true" class="custom-input w3-right w3-half w3-col" type="text" placeholder="0" v-model="bioweaponsBuildCount">
                                    </div>
                                </div>
                                <div class="w3-col w3-center w3-third">
                                    <div class="w3-row">
                                        <h5 class="w3-left w3-half w3-col">Radars </h5>
                                        <div v-if="player.research.radars == false" class="w3-panel w3-gray w3-round w3-grayscale custom-button w3-right w3-half w3-col" v-on:click="research('radars');">
                                            <h4>Research</h4>
                                        </div>
                                        <input v-if="player.research.radars == true" class="custom-input w3-right w3-half w3-col" type="text" placeholder="0" v-model="radarsBuildCount">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="((selectedRegion.player == player._id) || (selectedRegion.player == null)) && (!showActions) && (game.state == 'act.build') && buildType == 'develop'">
                        <div class="w3-row w3-left" style="width:15%">
                            <div class="w3-col" style="width:85%">
                                <div class="w3-panel w3-gray w3-round w3-grayscale custom-button" v-on:click="showActions = true;">
                                    <h4>Back</h4>
                                </div>
                                <div class="w3-panel w3-gray w3-round w3-grayscale custom-button" v-on:click="build();">
                                    <h4>Enact</h4>
                                </div>
                            </div>
                        </div>
                        <div style="width:85%" class="w3-panel w3-rest w3-right">
                            <h4>Select industry to attempt to develop:</h4>
                            <br>
                            <div class="w3-row">
                                <div class="w3-col w3-third w3-padding">
                                    <div v-if="selectedRegion.type=='land'">
                                        <div class="w3-panel w3-gray w3-round w3-grayscale custom-button" v-on:click="research('agriculture');">
                                            <h4>Agriculture</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="w3-col w3-third w3-padding">
                                    <div v-if="selectedRegion.type=='land'">
                                        <div class="w3-panel w3-gray w3-round w3-grayscale custom-button" v-on:click="research('mining');">
                                            <h4>Mining</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="w3-col w3-third w3-padding">
                                    <div v-if="selectedRegion.type=='land'">
                                        <div class="w3-panel w3-gray w3-round w3-grayscale custom-button" v-on:click="research('synthetics');">
                                            <h4>Synthetics</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="scripts/index.js"></script>
    <script src="scripts/gameApp.js"></script>
    <script src="scripts/canvas.js"></script>
</body>
</html>