<!DOCTYPE html>
<html>
    <head>
        <title>492 | Learn</title>
        <link rel="stylesheet" href="styles/w3.css">
        <link rel="stylesheet" href="styles/custom.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div class="w3-top w3-center w3-container">
            <div class="w3-bar w3-mobile w3-black w3-center" style="margin:auto;">
                <a href="#" class="w3-bar-item w3-button w3-red"><h5>Learn</h5></a>
                <a href="#" id="userpage" class="w3-bar-item w3-button"><h5>User</h5></a>
                <a href="#" id="logout" class="w3-bar-item w3-button"><h5>Logout</h5></a>
            </div>
        </div>
        <div class="w3-display-container">
            <div id="userpage-app" class="w3-display-middle w3-black w3-margin" style="width:1000px">
                <div class="w3-container w3-gray">
                    <h1>Let's learn how to play Four Ninety-Two!</h1>
                </div>
            </div>
            <script src="scripts/userpage.js"></script>
        </div>
    </body>
</html>