<!DOCTYPE html>
<html>
    <head>
        <title>492 | Learn</title>
        <link rel="stylesheet" href="styles/w3.css">
        <link rel="stylesheet" href="styles/custom.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div class="w3-top w3-center w3-container">
            <div class="w3-bar w3-mobile w3-black w3-center" style="margin:auto;">
                <a href="#" class="w3-bar-item w3-button w3-red"><h5>Learn</h5></a>
                <a href="#" id="userpage" class="w3-bar-item w3-button"><h5>User</h5></a>
                <a href="#" id="logout" class="w3-bar-item w3-button"><h5>Logout</h5></a>
            </div>
        </div>
        <div class="w3-display-container">
            <div id="userpage-app" class="w3-display-middle w3-black w3-margin" style="width:90%">
                <div class="w3-container">
                    <h1>Let's learn how to play Four Ninety-Two!</h1>
                </div>
                <hr>
                <div class="w3-container">
                    <h3>Four Ninety-Two is a multiplayer turn-based strategy game, inspired by classic war board games. You win when you force your opponents to lose all of their units or money.</h3>
                </div>
                <div class="w3-container">
                    <h5>This game can be played on a variety of battlefields, but only one, Manifest Destiny, is currently enabled. Play is divided into rounds, and then subrounds. Players take turns controlling the game during the subrounds. The order of turns depends on how each player chooses to prioritize their actions that round, known as Alliance Focuses.</h5>
                </div>
                <hr>
                <div class="w3-row">
                    <div class="w3-col w3-left w3-half w3-container">
                        <div class="w3-container">
                            <h3>Regions</h3>
                        </div>
                        <div class="w3-container">
                            <h5>Game maps are divided into regions, which can be either land or water. Players control a region when they control units in it. Regions have industry values, which increase the amount of industry that a player controls each round of play.</h5>
                        </div>
                        <br>
                        <div class="w3-container">
                            <h3>Industry</h3>
                        </div>
                        <div class="w3-container">
                            <h5>There are three industries: Agriculture, Mining, and Synthetics. All are important, but Agriculture and Mining are primarily used to create and control Military Units, while controlling Synthetics is the key to Special Units. Your industry control will tick up at the beginning of each round automatically, depending on the regions that you control. But if you need to control more of an industry, you can buy or sell your control on the Global Exchange, which affects the values for every player in the game. You can also attempt to increase your passive industry control gain by taking a gamble on developing your owned regions. Attempting in this way will increase the level of investment in that region, which is used solely as an intel indicator.</h5>
                        </div>
                        <br>
                    </div>
                    <div class="w3-col w3-right w3-half w3-container">
                        <div class="w3-container">
                            <h3>Military Units</h3>
                        </div>
                        <div class="w3-container">
                            <h5>There are three military units: Land, Naval, and Amphibious. The names should be pretty straightforward indicators of where these units can be built and used. Amphibious units can be used on both land and water regions, but are more expensive to create. All three military units can move into adjacent empty regions, or attack enemies in adjacent enemy regions. Naval units can be built in empty water regions adjacent to a controlled land region, and can ferry land units across water.</h5>
                        </div>
                        <br>
                        <div class="w3-container">
                            <h3>Special Units</h3>
                        </div>
                        <div class="w3-container">
                            <h5>There are three special units: Atom Bombs, Bioweapons, and Radars. Atom bombs will destroy all units and industry on the targeted region. Bioweapons will destroy all military units on the target region and also make it impassible for a number of rounds. Radars have a chance to protect against all atom bombs and bioweapons that target the region that they are based in, as well as adjacent regions. Special units cannot be moved once built.</h5>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <script src="scripts/learn.js"></script>
        </div>
    </body>
</html>