<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="userpage-app">
        <h1>Welcome, {{ user.name }}</h1>
        <p>Open Games:</p>
        <ol>
            <li v-for="game in openGames">
                <a v-bind:href="`/index/${game}`">{{ game }}</a>
            </li>
        </ol>
        <br>
        <form id="create-game">
            <input name="map" type="text" placeholder="Map name">
            <input name="users" type="text" placeholder="Usernames, separated by space">
            <br>
            <button type="button">Create game</button>
        </form>
        <br>
        <button id="logout" type="button">LOGOUT</button>
    </div>
    <script src="scripts/userpage.js"></script>
</body>
</html>