html
{
	overflow: hidden;
}
body
{
	background:#06111B;
}
hr
{
 	border: 7px solid #06111B;
}
h1
{
	font-size: 35px;
}
h2
{
	font-size: 30px;
}
h3
{
	font-size: 25px;
}
h4
{
	font-size: 20px;
}
h5
{
	font-size: 15px;
}
h6
{
	font-size: 10px;
}
p
{
	font-size: 18px;
	display:inline;
}
h1,h2,h3,h4,h5,h6,p
{
	font-family: "Courier New", monospace;
	text-shadow:1px 2px 0 #444;
	display:inline;
	color:#fff;
}
input[type=range]
{
  -webkit-appearance: none;
  width: 100%;
}
input[type=range]::-webkit-slider-runnable-track
{
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #000000;
}
input[type=range]::-webkit-slider-thumb
{
  box-shadow: 2px 2px 2px #000000;
  border: 1px solid #000000;
  height: 20px;
  width: 10px;
  border-radius: 8px;
  background: #FFFFFF;
  -webkit-appearance: none;
  margin-top: -7px;
}
.custom-light-green
{
	color:#000!important;background-color:#99ca85!important;
}
.custom-light-brown
{
	color:#000!important;background-color:#806947!important;
}
.custom-light-pink
{
	color:#000!important;background-color:#f25293!important;
}
.w3-round
{
	margin-top:16px;
	margin-bottom:16px;
}
.custom-accordian:hover
{
	color:#000!important;background-color:#ccc!important;
	margin:3px;
}
.custom-button:hover
{
	color:#000!important;background-color:#ccc!important;
	cursor: pointer;
}
.custom-input
{
	padding:8px;
	display:block;
	border:none;
	border-bottom:1px solid #ccc;
	opacity:.4;
	text-align:center;
}
.align-right
{
	text-align:right;
}
.align-left
{
	text-align:left;
}
.custom-spacing
{
	padding:15px;
}
.custom-progress-bar
{
	padding-left:5px;
	padding-right:5px;
	min-width:0px;
	height:60px;
}
.layer-grid
{
	display: grid;
}
.layer1, .layer2
{
	grid-column: 1;
	grid-row: 1;
	text-align:center;
	margin:0;
	font-weight: bold;
}
.vertical-center
{
	-ms-transform: translateY(20%);
	transform: translateY(20%);
}
.subround-text
{
	text-shadow:1px 2px 0 #e5e5e5;
	color:#000;
	font-weight: bold;
}
.custom-red-loud
{
	color:#880b0b;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
}